<a href="https://colab.research.google.com/github/RajuNaik29/Advance-Python/blob/main/Functions_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
def prepare_4_guests():
    print('Clean the house')
    print('arrange the drawing room')
    print('wear nice clothes')
    print('go to market and get some samosas and cold drinks')
    print("DO NOT misbehave infront of the guests")
    print('When the guests come, greet them')
    print('Sing a poem')

In [ ]:
#calling the function
prepare_4_guests()

Clean the house
arrange the drawing room
wear nice clothes
go to market and get some samosas and cold drinks
DO NOT misbehave infront of the guests
When the guests come, greet them
Sing a poem

In [ ]:
# looping
for i in range(3):
  prepare_4_guests()

Clean the house
arrange the drawing room
wear nice clothes
go to market and get some samosas and cold drinks
DO NOT misbehave infront of the guests
When the guests come, greet them
Sing a poem
Clean the house
arrange the drawing room
wear nice clothes
go to market and get some samosas and cold drinks
DO NOT misbehave infront of the guests
When the guests come, greet them
Sing a poem
Clean the house
arrange the drawing room
wear nice clothes
go to market and get some samosas and cold drinks
DO NOT misbehave infront of the guests
When the guests come, greet them
Sing a poem

In [ ]:
# creating nimbu_pani function
def nimbu_pani():
    print('Get an empty glass')
    print("Get a lemon and cut it")
    print('Squeeze the lemon')
    want_sugar = input('Do you want sugar Y/N : ')
    if want_sugar == 'y':
      print('sugar added')
    else:
      print('Add salt')
    print('Add water')
    print('stir')
    print("Your nimbu pani is ready")

In [ ]:
#calling above function
nimbu_pani()

Get an empty glass
Get a lemon and cut it
Squeeze the lemon
Do you want sugar Y/N : y
sugar added
Add water
stir
Your nimbu pani is ready

In [ ]:
nimbu_pani()

Get an empty glass
Get a lemon and cut it
Squeeze the lemon
Do you want sugar Y/N : N
Add salt
Add water
stir
Your nimbu pani is ready

In [ ]:
for i in range(3):
  nimbu_pani()

Get an empty glass
Get a lemon and cut it
Squeeze the lemon
Do you want sugar Y/N : y
sugar added
Add water
stir
Your nimbu pani is ready
Get an empty glass
Get a lemon and cut it
Squeeze the lemon
Do you want sugar Y/N : n
Add salt
Add water
stir
Your nimbu pani is ready
Get an empty glass
Get a lemon and cut it
Squeeze the lemon
Do you want sugar Y/N : n
Add salt
Add water
stir
Your nimbu pani is ready

In [ ]:
# sheldon
print("knock knock Sachin")
print("knock knock Sachin")
print("knock knock Sachin")

knock knock Sachin
knock knock Sachin
knock knock Sachin

In [ ]:
name = input('name of the person: ')
print("knock knock", name)
print("knock knock", name)
print("knock knock", name)

name of the person: Raju
knock knock Raju
knock knock Raju
knock knock Raju

In [ ]:
def Raju_greets():
  name = input('name of a person : ')
  print("knock knock", name)
  print("knock knock", name)
  print("knock knock", name)

In [ ]:
#calling a function
Raju_greets()

name of a person : Raju
knock knock Raju
knock knock Raju
knock knock Raju

In [ ]:
Raju_greets()

name of a person : Naik
knock knock Naik
knock knock Naik
knock knock Naik

In [ ]:
#documenting a function >> doc_string
def propose(name):
  '''This is a function that will ask a user/ propose a user
  whether they want to marry you
  Be careful üòÇü§£

  Expects one input and that is the name of the person being proposed'''

  print('will you marry me :', name)

In [ ]:
help(propose)

Help on function propose in module __main__:

propose(name)
    This is a function that will ask a user/ propose a user
    whether they want to marry you
    Be careful üòÇü§£

    Expects one input and that is the name of the person being proposed

In [ ]:
propose('Raju')

will you marry me : Raju

In [ ]:
propose(name = 'Raju')

will you marry me : Raju

In [ ]:
def propose(name):
  '''This is a function that will ask a user/ propose a user
  whether they want to marry you
  Be careful üòÇü§£

  Expects one input and that is the name of the person being proposed'''
  print(type(name))
  print('Will you marry me : ', name)
propose('Raju')
propose(1234)
propose(12721.3)
propose(True)
propose(None)

<class 'str'>
Will you marry me :  Raju
<class 'int'>
Will you marry me :  1234
<class 'float'>
Will you marry me :  12721.3
<class 'bool'>
Will you marry me :  True
<class 'NoneType'>
Will you marry me :  None

In [ ]:
print(type(propose))

<class 'function'>

In [ ]:
a = 5
a

5

In [ ]:
# input()
num = input('Give me num: ')
# print()
print(num)

Give me num: 21
21

In [ ]:
output_of_print = print(num)
print(output_of_print)

21
None

Explanation:
In Python, the `print()` function always returns `None`. This is because `print()` is a function that performs an action (printing to the console) rather than returning a value that can be assigned to a variable. So, when you do `output_of_print = print(num)`, `output_of_print` is assigned the return value of `print()`, which is `None`. Therefore, when you print `output_of_print`, it will display `None`.

In [ ]:
# arggggggguuummments
def propose(name):
  '''
    This is a function that will ask a user/ propose a user
    whether they want to marry you
    Be careful üòÇü§£

    Expects one input and that is the name of the person being proposed
  '''

  print('Will you marry me', name)

In [ ]:
propose()

TypeError: ignored

In [ ]:
def factorial(n):
  result = 1
  while n > 0:
    result *= n
    n -= 1
    print(result)
print(factorial(5))

5
20
60
120
120
None

In [ ]:
factorial(5)

5
20
60
120
120

In [ ]:
# positional arguments >> position matters
def greet_the_family(mother, father, brother):
    print("Touch the üêæ Hello", mother)
    print("Touch the üëü Hello", father)
    print("üôå", brother)

greet_the_family('Shakira', 'Tom Cruise', 'Salman Bhai')

Touch the üêæ Hello Shakira
Touch the üëü Hello Tom Cruise
üôå Salman Bhai

In [ ]:
greet_the_family('Salman Bhai', 'Tom Cruise', 'Shakira')

Touch the üêæ Hello Salman Bhai
Touch the üëü Hello Tom Cruise
üôå Shakira

In [ ]:
greet_the_family('Salman Bhai', 'Tom Cruise', 'Shakira', 'Scooby')

TypeError: ignored

In [ ]:
greet_the_family('Salman Bhai', 'Tom Cruise',)

TypeError: ignored

In [ ]:
# using docstrings
def greet_the_family(mother, father, brother):
    """
        this is the main step
        you are meeting the family üò®
        you should know the names of teh family members üí°

            1 mother name
            2 father name
            3 brother name
    """
    print("Touch the üêæ Hello", mother)
    print("Touch the üëü Hello", father)
    print("üôå", brother)

In [ ]:
help(greet_the_family)

Help on function greet_the_family in module __main__:

greet_the_family(mother, father, brother)
    this is the main step
    you are meeting the family üò®
    you should know the names of teh family members üí°

        1 mother name
        2 father name
        3 brother name

In [ ]:
# input()
num = input('Give me num: ')
# print()
print(num)
output_of_print = print(num)

'''Here, the print() function is used in above line is to display the value of num again.
However, it's important to note that the print() function in Python returns None.
Therefore, the variable output_of_print will be assigned the value None.
This line both prints the value of num and assigns None to the variable output_of_print.'''

print(output_of_print)

Give me num: 120
120
120
None

In [ ]:
def add_3_nums(a,b,c):
    total = a+b+c
    print(total)
add_3_nums(1,2,3)

6

In [ ]:
def add_3_nums(a,b,c):
    total = a+b+c
    print(total)
output_of_add_3_nums = add_3_nums(1,2,3) #This line calls the add_3_nums function with the arguments 1, 2, and 3. The result of this function call is the sum of these three values, which is 6. However, since the function only prints the result and doesn't explicitly return a value, the variable output_of_add_3_nums will be assigned the default return value of a function that doesn't have a return statement, which is None.
print("The function gave me:", output_of_add_3_nums)

6
The function gave me: None

In [ ]:
def add_3_nums(a,b,c):
    total = a+b+c
    print(total)
    return total
    return total+1
    return total+2
    return total+3
    '''This function, add_3_nums, takes three parameters (a, b, and c). Inside the function:
    It calculates the sum of the three parameters and assigns the result to the variable total.
    It prints the value of total to the console.
    It then has four return statements, each returning a different value.
    However, only the first return statement will be executed, and the subsequent return statements will be ignored.
    So, the function will immediately exit and return the value of total.'''

    print('After the return ')

output_of_add_3_nums = add_3_nums(1,2,3) '''This line calls the add_3_nums function with the arguments 1, 2, and 3.
 The function calculates the sum (1 + 2 + 3 = 6), prints the result (6), and then returns the value 6.
 This returned value is assigned to the variable output_of_add_3_nums.'''


print("The function gave me:", output_of_add_3_nums)

6
The function gave me: 6

In [ ]:
def is_multitple(num):
    if num%2==0:
        return 2
    elif num%3==0:
        return 3
    else:
        return "Not multiple of 2 and 3"
for i in range(10):
    print(i, is_multitple(i))

0 2
1 Not multiple of 2 and 3
2 2
3 3
4 2
5 Not multiple of 2 and 3
6 2
7 Not multiple of 2 and 3
8 2
9 3

In [ ]:
def do_something(n):
    total = 0
    i = 1
    while i <= n:
        total += i
        i += 1
    return total

print(do_something(5))

15

In [ ]:
def foo(n):
    print(n)
'''This line calls the function foo with the argument 5. The function foo prints the value 5 to the console.
 However, there is an interesting aspect here:

The foo function itself doesn't have a return statement, which means it implicitly returns None.
The print(foo(5)) statement prints the result of the function call.
Since the function foo doesn't explicitly return a value (or returns None by default), the print statement prints None.
So, the output of this code will be:'''
print(foo(5))

5
None

In [ ]:
# doubt
# Rukmani Selvaraj
# Hi
# while trying to solve this problem - how to count digits after decimal? getting this weird output
# my code is
count=0
n=0.12345
while True:
    n=n*10
    count=count+1
    print(n,count)
    if(n-int(n)==0):
        break
print(count)

1.2345000000000002 1
12.345000000000002 2
123.45000000000002 3
1234.5000000000002 4
12345.000000000002 5
123450.00000000001 6
1234500.0000000002 7
12345000.000000002 8
123450000.00000001 9
1234500000.0000002 10
12345000000.000002 11
123450000000.00002 12
1234500000000.0002 13
12345000000000.002 14
123450000000000.02 15
1234500000000000.2 16
1.2345000000000002e+16 17
17

# Assignment Questions

In [ ]:
#Q1. Celsius to Fahrenheit
def temperature(celsius):
  ans = 0
  ans = (9/5)*celsius + 32
  return round(ans,2)
temperature(celsius = 36.8)

98.24

In [ ]:
#Q2. Road tax
def road_tax(price):
    tax = None
    if price > 100000:
      tax = 0.2*price
    elif price > 75000 and price<=100000:
      tax = 0.15*price
    elif price > 50000 and price <= 75000:
      tax = 0.1*price
    else:
      tax = 0.05*price
    return tax
road_tax(price = 76000)

11400.0

In [ ]:
road_tax(price = 25000)

1250.0

In [ ]:
#Q4. Function Calling
def 1f(num):
  return num + 55
1f(5)
print(num)

SyntaxError: ignored

In [ ]:
#Q5. The Circle Area
def area_circle(A):
  area = 3.1416 * (A**2)
  return round(area,1)
area_circle(8)

201.1

# Additional Problems

In [ ]:
#Q1. Celsius to Fahrenheit MCQ
def convert(t):
    return t*9/5 + 32

print(convert(20))

In [ ]:
#Q2. Vowel Or Consonant
def is_vowel(c):
  if c.lower() == 'a':
    return 1
  elif c.lower() == 'e':
    return 1
  elif c.lower() == 'i':
    return 1
  elif c.lower() == 'o':
    return 1
  elif c.lower() == 'u':
    return 1
  else:
    return 0
is_vowel(c = 'a')

1

In [ ]:
is_vowel(c = 'j')

0

In [ ]:
# Q3. Perfect Number
def perfect_number(n):
  ans = 0
  for i in range(1,n):
    if n%i == 0:
      ans = ans + i
  if ans == n:
    return 1
  else:
    return 0

perfect_number(n = 6)

1

In [ ]:
perfect_number(n = 5)

0

In [ ]:
#Q4. Sequence [1-N] & [N-1]
def sequence(n):
  for i in range(1,n+1):
    if i==n:
      print(i)
    else:
      print(i, end = ' ')

  for j in range(n,0,-1):
    if j == 1:
      print(j)
    else:
      print(j, end = ' ')
sequence(n = 5)

1 2 3 4 5
5 4 3 2 1

In [ ]:
sequence(n = 10)

1 2 3 4 5 6 7 8 9 10
10 9 8 7 6 5 4 3 2 1

In [ ]:
#Q5. Go Global!
x = 55
def hi():
  return x
x +=10
print(hi())

65