<a href="https://colab.research.google.com/github/RajuNaik29/Advance-Python/blob/main/List_slicing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# List-Slicing
https://www.geeksforgeeks.org/python-list-slicing/

In [ ]:
# primitive DS
## str, int, float, bool, None

In [ ]:
# non- primitive DS
# []
# ordered >> indexing/sort
# duplicates are allowed
# it can store anything
# editable/ mutable

Primitive and non-primitive data structures are two categories used to classify data structures based on their fundamental characteristics. Here's an explanation of each:

1. **Primitive Data Structures:**

   Primitive data structures are basic data structures that are directly supported by most programming languages. They are called "primitive" because they represent the simplest form of data storage available in a programming language. These data structures are typically used to store individual data elements.

   Common examples of primitive data structures include:
   - Integer
   - Float (floating-point number)
   - Character
   - Boolean (True or False)
   - Pointer (a memory address)

   These data structures are atomic, meaning they cannot be further subdivided into smaller components within the programming language itself.

2. **Non-Primitive Data Structures:**

   Non-primitive data structures are more complex data structures built using primitive data types and are not directly available in programming languages. They are also known as derived data types or abstract data types (ADTs). Non-primitive data structures are designed to store collections of data elements in a specific manner that facilitates efficient data manipulation and access.

   Common examples of non-primitive data structures include:
   - Arrays
   - Lists
   - Stacks
   - Queues
   - Trees
   - Graphs
   - Sets
   - Maps (or dictionaries)

   These data structures can hold multiple elements, and their elements can be of different data types, including other data structures.

**Difference between Primitive and Non-Primitive Data Structures:**

1. **Basic vs. Complex:** Primitive data structures are basic and atomic, consisting of a single data element, whereas non-primitive data structures are more complex and can hold multiple data elements.

2. **Direct Support:** Primitive data structures are directly supported by programming languages, meaning they are predefined within the language itself. Non-primitive data structures are not directly supported by programming languages and are typically implemented using primitive data types.

3. **Usage:** Primitive data structures are used to represent individual data elements, such as numbers, characters, or boolean values. Non-primitive data structures are used to organize and manage collections of data elements in a structured manner to facilitate efficient data manipulation and access.

4. **Flexibility:** Non-primitive data structures offer greater flexibility in terms of storing and organizing data compared to primitive data structures. They allow for more complex data storage and retrieval operations, making them suitable for a wide range of applications.

In summary, primitive data structures represent basic, atomic data types directly supported by programming languages, while non-primitive data structures are more complex data structures built using primitive data types to store and organize collections of data elements efficiently.

In [ ]:
my_list = [5,2,7,7,7,8,6,1]
print(my_list)

my_list[2]*=-1
print(my_list)

my_list.sort()
print(my_list)

my_list.sort(reverse = True)
print(my_list)

[5, 2, 7, 7, 7, 8, 6, 1]
[5, 2, -7, 7, 7, 8, 6, 1]
[-7, 1, 2, 5, 6, 7, 7, 8]
[8, 7, 7, 6, 5, 2, 1, -7]

In [1]:
my_list = [5,2,7,7,7,8,6,1]

print(my_list)

my_list[2] *= -1
print(my_list)

neg_slice = my_list[1:4] *= -1
print(neg_slice)

SyntaxError: invalid syntax (<ipython-input-1-f189b13746a7>, line 8)

Your code seems to attempt to multiply elements of `my_list` by -1 in specific ranges. However, there are some issues with the syntax. The `*=` operator doesn't work directly with slicing like that. You'll need to perform the operation on each element within the slice. Here's the corrected version of your code:

```python
my_list = [5, 2, 7, 7, 7, 8, 6, 1]

print(my_list)

my_list[2] *= -1
print(my_list)

neg_slice = my_list[1:4]
for i in range(len(neg_slice)):
    neg_slice[i] *= -1
print(neg_slice)
```

Output:
```
[5, 2, 7, 7, 7, 8, 6, 1]
[5, 2, -7, 7, 7, 8, 6, 1]
[-2, -7, -7]
```

In this corrected version:

- `my_list[2] *= -1` multiplies the element at index 2 (third element) of `my_list` by -1.
- `neg_slice = my_list[1:4]` creates a slice of `my_list` from index 1 (inclusive) to index 4 (exclusive).
- The loop then iterates over each element of `neg_slice` and multiplies them by -1.

Note: I've renamed the variable `neg` to `neg_slice` to better reflect its purpose as a slice of `my_list`.

In [ ]:
# operations
a = [1,7,4]
b = [2,8,5,-15]

print('>> +')
print(a+b) #This will concatinate two lists into one list.

print('>> -')
# print(a-b) # TypeError: unsupported operand type(s) for -: 'list' and 'list'

print('>> /')
# print(a/b) # TypeError: unsupported operand type(s) for /: 'list' and 'list'

print('>> *')
# print(a*b) # TypeError: can't multiply sequence by non-int of type 'list'

>> +
[1, 7, 4, 2, 8, 5, -15]
>> -
>> /
>> *

In [ ]:
a = [1,7,4]
print('>> *')
print(a*2)
print(a*5)

# x*4 = x+x+x+x

>> *
[1, 7, 4, 1, 7, 4]
[1, 7, 4, 1, 7, 4, 1, 7, 4, 1, 7, 4, 1, 7, 4]

In [ ]:
# iterating

# my_list

# for i in my_list: # direct iteration of the values inside the my_list
# for i in range(len(my_list)): # 0,1,2....len(my_list)-1>> my_list[i]

Question-1
Given list of all runs by Virat, print runs made in odd matches (Even Indexes).

runs = [62, 85, 74, 10, 12, 101, 122, 99, 81, 55]

In [2]:
runs = [62, 85, 74, 10, 12, 101, 122, 99, 81, 55]
for i in range(len(runs)+1):
  if i % 2 == 1:
    print(runs[i])

85
10
101
99
55

In [ ]:
runs = [62, 85, 74, 10, 12, 101, 122, 99, 81, 55]
runs[1::2]

[85, 10, 101, 99, 55]

Question-2
Given list of all runs by Virat, create a new list of runs made in odd matches (Even Indexes).

runs = [62, 85, 74, 10, 12, 101, 122, 99, 81, 55]

Create a function called odd_runs, that will take one argument, which is the runs list

In [ ]:
runs = [62, 85, 74, 10, 12, 101, 122, 99, 81, 55]
def odd_runs(runs):
  new_lst = []
  for i in range(len(runs)):
    if i%2 == 0:
      new_lst.append(runs[i])
  return new_lst
odd_runs(runs = [62, 85, 74, 10, 12, 101, 122, 99, 81, 55])

[62, 74, 12, 122, 81]

Question-3
Given list of all runs by Virat, create a new list of runs made in last 5 matches.

runs = [62, 85, 74, 10, 12, 101, 122, 99, 81, 55]

Output should be: [101, 122, 99, 81, 55]

In [ ]:
runs = [62, 85, 74, 10, 12, 101, 122, 99, 81, 55]
runs[-5:]

[101, 122, 99, 81, 55]

In [ ]:
##########################   index of the last value is, -1, len(runs)-1
##########################   index of the second last value is, len(runs)-2
##########################   index of the third last value is, len(runs)-3
##########################   index of the fourth last value is, len(runs)-4
##########################   index of the fifth last value is, len(runs)-5
runs = [62, 85, 74, 10, 12, 101, 122, 99, 81, 55]

result = []

for i in range(len(runs)-5,len(runs)):#>>  len(runs)-5  ....... len(runs)-1
    result.append(runs[i])
print(result)

[101, 122, 99, 81, 55]

In [ ]:
##########################   -5   -4  -3  -2  -1
runs = [62, 85, 74, 10, 12, 101, 122, 99, 81, 55]

result = []

for i in range(-5,0):#>> -5   -4  -3  -2  -1
    result.append(runs[i])
print(result)

[101, 122, 99, 81, 55]

Question-4
Given list of all runs by Virat, create a new list of runs made in first 3 matches.

runs = [62, 85, 74, 10, 12, 101, 122, 99, 81, 55]

Output should be: [62, 85, 74]

In [ ]:
runs = [62, 85, 74, 10, 12, 101, 122, 99, 81, 55]
runs[:3]

[62, 85, 74]

In [ ]:
runs = [62, 85, 74, 10, 12, 101, 122, 99, 81, 55]
###     0    1   2
result = []

for i in range(3):#>> 0 1 2
    result.append(runs[i])
print(result)

[62, 85, 74]

Question-5
Given list of all runs by Virat, create a new list of runs made from the 3rd match to the 7th match.

runs = [62, 85, 74, 10, 12, 101, 122, 99, 81, 55]

Output should be: [74, 10, 12, 101, 122]

You can assume that the list length will be valid

In [ ]:
runs = [62, 85, 74, 10, 12, 101, 122, 99, 81, 55]
runs[2:7]

[74, 10, 12, 101, 122]

In [ ]:
runs = [62, 85, 74, 10, 12, 101, 122, 99, 81, 55]
new_list = []
for i in range(2,7):
  new_list.append(runs[i])
print(new_list)

[74, 10, 12, 101, 122]

In [ ]:
# slicing

# list slicing>> output is ALWAYS a python list  ðŸ‘ˆðŸ‘ˆðŸ‘ˆðŸ‘ˆðŸ‘ˆðŸ‘ˆðŸ‘ˆðŸ‘ˆ

In [ ]:
####            0          1      2       3        4
avengers = ['iron-man', 'thor', 'cap', 'hulk', 'groot']
####           -5         -4      -3      -2       -1

print(avengers)

['iron-man', 'thor', 'cap', 'hulk', 'groot']

In [ ]:
####            0          1      2       3        4
avengers = ['iron-man', 'thor', 'cap', 'hulk', 'groot']
####           -5         -4      -3      -2       -1

print(avengers[2])

cap

In [ ]:
####            0          1      2       3        4
avengers = ['iron-man', 'thor', 'cap', 'hulk', 'groot']
####           -5         -4      -3      -2       -1

# list[start:end] >> slice the list >> [start, start+1, start+2...end-1]>>> end index is NOT included
print(avengers[1:4])# start = 1 , end = 4>>1,2,3

# question
print(avengers[0:2]) # start = 0, end = 2>> 0 1

['thor', 'cap', 'hulk']
['iron-man', 'thor']

In [ ]:
####            0          1      2       3        4
avengers = ['iron-man', 'thor', 'cap', 'hulk', 'groot']
####           -5         -4      -3      -2       -1

# list[start:end:step] >> slice the list >> [start, start+step, start+2*step...till end]
# >>> stop before end, end index is NOT included
print(avengers[1:4:1])# start = 1, end = 4, step = 1>> 1,2,3

# question
print(avengers[1:4:2]) # start = 1, end = 4 , step = 2>>1,3

# question
print(avengers[0:3:2]) # start = 0, end = 3 , step = 2>>0,2

['thor', 'cap', 'hulk']
['thor', 'hulk']
['iron-man', 'cap']

In [ ]:
####            0          1      2       3        4
avengers = ['iron-man', 'thor', 'cap', 'hulk', 'groot']
####           -5         -4      -3      -2       -1


# question
print(['iron-man', 'cap', 'groot'])
print(avengers[0:5:2])
print(avengers[0:6:2])

print(avengers[0:600:2])

['iron-man', 'cap', 'groot']
['iron-man', 'cap', 'groot']
['iron-man', 'cap', 'groot']
['iron-man', 'cap', 'groot']

In [ ]:
####            0          1      2       3        4
avengers = ['iron-man', 'thor', 'cap', 'hulk', 'groot']
####           -5         -4      -3      -2       -1

print(avengers[100:200])

[]

In [ ]:
####            0          1      2       3        4
avengers = ['iron-man', 'thor', 'cap', 'hulk', 'groot']
####           -5         -4      -3      -2       -1

# list[start:end:step] >> slice the list >> [start, start+step, start+2*step...till end]
# >>> stop before end, end index is NOT included

print(avengers[1:4:1])# start = 1, end = 4, step = 1>> 1,2,3
print(avengers[-4:-1:1])
print(avengers[1:-1:1])
print(avengers[-4:4:1])

# 0 index and -ive index can be interchanged wherever you want

['thor', 'cap', 'hulk']
['thor', 'cap', 'hulk']
['thor', 'cap', 'hulk']
['thor', 'cap', 'hulk']

In [ ]:
####            0          1      2       3        4
avengers = ['iron-man', 'thor', 'cap', 'hulk', 'groot']
####           -5         -4      -3      -2       -1

# list[start:end:step] >> slice the list >> [start, start+step, start+2*step...till end]
# >>> stop before end, end index is NOT included

print(avengers[1:4:1])# start = 1, end = 4, step = 1>> 1,2,3

print(avengers[4:2:-1])# start = 4, end = 2, step = -1>> 4,3

# question
print(avengers[4:0:-3])# start = 4, end = 0, step = -3>> 4,1

['thor', 'cap', 'hulk']
['groot', 'hulk']
['groot', 'thor']

In [ ]:
####            0          1      2       3        4
avengers = ['iron-man', 'thor', 'cap', 'hulk', 'groot']
####           -5         -4      -3      -2       -1

# list[start:end:step] >> slice the list >> [start, start+step, start+2*step...till end]
# >>> stop before end, end index is NOT included

print(avengers[1:4])# start = 1, end = 4, step = 1(default)>> 1,2,3

['thor', 'cap', 'hulk']

In [ ]:
####            0          1      2       3        4
avengers = ['iron-man', 'thor', 'cap', 'hulk', 'groot']
####           -5         -4      -3      -2       -1

# list[start:end:step] >> slice the list >> [start, start+step, start+2*step...till end]
# >>> stop before end, end index is NOT included

print(avengers[:4:])# start = left side(step is +ive), end = 4, step = 1

# step is +ive: default start is left  side, default end is right side
# step is -ive: default start is right side, default end is left  side

print(avengers[4::-1])# start = 4, end = left side as step is -ive,  step = -1

['iron-man', 'thor', 'cap', 'hulk']
['groot', 'hulk', 'cap', 'thor', 'iron-man']

In [ ]:
####            0          1      2       3        4
avengers = ['iron-man', 'thor', 'cap', 'hulk', 'groot']
####           -5         -4      -3      -2       -1

print(avengers[:]) # start=left  side, end=right side, step =1

['iron-man', 'thor', 'cap', 'hulk', 'groot']

In [ ]:
#Reverse List
####            0          1      2       3        4
avengers = ['iron-man', 'thor', 'cap', 'hulk', 'groot']
####           -5         -4      -3      -2       -1

print(avengers[::-1]) # start=right side, end=left  side, step =-1

['groot', 'hulk', 'cap', 'thor', 'iron-man']

In [ ]:
####            0          1      2       3        4
avengers = ['iron-man', 'thor', 'cap', 'hulk', 'groot']
####           -5         -4      -3      -2       -1

print(avengers[::-2]) # start=right side, end=left  side, step =-2

['groot', 'cap', 'iron-man']

In [ ]:
####            0          1      2       3        4
avengers = ['iron-man', 'thor', 'cap', 'hulk', 'groot']
####           -5         -4      -3      -2       -1

# stupid slicing
print(avengers[1:4:-2])

[]

In [ ]:
# str splitting
s = "this is my str"
print(s.split('is'))

['th', ' ', ' my str']

In [ ]:
Name = 'My name is Raju Naik'
print(Name.split('is'))

['My name ', ' Raju Naik']

In [ ]:
# str splitting
s = "this is my str"
print(s.split('i'))

['th', 's ', 's my str']

In [ ]:
# str splitting
s = "this is my str"
print(s.split(' '))

['this', 'is', 'my', 'str']

In [ ]:
# Quick fire questions
##             0   1  2    3   4   5   6   7   8   9   10
python_list = [0, 10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
##            -11 -10 -9  -8  -7  -6  -5  -4  -3  -2   -1

In [ ]:
print("Quick-Question: 10",      python_list[-8:5:-1])
print("Streak: _")

Quick-Question: 10 []
Streak: _

In [ ]:
print("Quick-Question: 9",       python_list[-8:5])
print("Streak: _")
# default step is 1

Quick-Question: 9 [30, 40]
Streak: _

In [ ]:
print("Quick-Question: 8",       python_list[-2:])
print("Streak: _")
# default step is 1

Quick-Question: 8 [90, 100]
Streak: _

In [ ]:
print("Quick-Question: 7",       python_list[:-5])
print("Streak: _")
# default step is 1
# -5 is same as 6

Quick-Question: 7 [0, 10, 20, 30, 40, 50]
Streak: _

In [ ]:
print("Quick-Question: 6",       python_list[-2:-7])
print("Streak: _")
# default step is 1

Quick-Question: 6 []
Streak: _

In [ ]:
print("Quick-Question: 5",       python_list[-2:-5:-1])
print("Streak: _")

Quick-Question: 5 [90, 80, 70]
Streak: _

In [ ]:
print("Quick-Question: 4",       python_list[7:])
print("Streak: _")

Quick-Question: 4 [70, 80, 90, 100]
Streak: _

In [ ]:
print("Quick-Question: 3",       python_list[:])
print("Streak: _")

Quick-Question: 3 [0, 10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
Streak: _

In [ ]:
print("Quick-Question: 2",       python_list[:8])
print("Streak: _")

Quick-Question: 2 [0, 10, 20, 30, 40, 50, 60, 70]
Streak: _

In [ ]:
print("Quick-Question: 1",       python_list[3:5])
print("Streak: _")

Quick-Question: 1 [30, 40]
Streak: _

# ASSignment Problems

In [ ]:
# Q1. Divisible by 5 and 7

def divisible(lst):
  result = []
  for ele in lst:
    if ele%5==0 and ele%7==0:
      result.append(ele)
  return result
divisible(lst = [23, 34, 25, 35, 66, 70, 14])

[35, 70]

In [ ]:
'''After executing the code below the given word gets converted into a list of individual characters of the word called word_list,
 indexing on which elements of the list word_list would give us a sublist that forms the word "Data Science"?'''


word = "Scaler Data Science Course"
word_list = list(word)
word_list

['S',
 'c',
 'a',
 'l',
 'e',
 'r',
 ' ',
 'D',
 'a',
 't',
 'a',
 ' ',
 'S',
 'c',
 'i',
 'e',
 'n',
 'c',
 'e',
 ' ',
 'C',
 'o',
 'u',
 'r',
 's',
 'e']

In [ ]:
word_list[7:19]

['D', 'a', 't', 'a', ' ', 'S', 'c', 'i', 'e', 'n', 'c', 'e']

Q4. Ceil and Floor

Problem Description

You are given a sorted array of A and an integer B. Return an array of size 2, where the first element is the ceil of B and the second element is the floor of B.

Ceil is the smallest number greater than or equal to B and is present in the array A.
Floor is the largest number smaller than or equal to B and is present in the array A.


Problem Constraints

1 <= |A| <= 105
-109 <= A[i] <= 109
-109 <= B <= 109


Input Format

The input contains two lines.
The first line contains space separated integers. The first value in this line is the number of elements N in the array after which N integers denoting elements of the array follow.
The second line contains a single integer.


Output Format

An integer array C of size 2.


Example Input

Input 1:

-2 4 4 8 9

0

Input 2:

1 3 9 21

9


Example Output

Output 1:

4 -2

Output 2:

9 9


Example Explanation

Explanation 1:

Just greater or equal element than 0 in A is 4 and

just smaller or equal element than 0 is A is -2.

Explanation 2:

Ceil and floor of 9 will be 9 itself as 9 is present in the array.

In [ ]:
def solve(A,B):
  c = [0,0]
  for i in A:
    if i <= B:
      c[1] = i
    if i >= B:
      c[0] = i
      break
  return c
solve(A = [-2, 4, 4, 8, 9], B = 0)

[4, -2]

In [ ]:
# Q1. First and Last Index

def first_last(A,B):
  c = [0,0]
  for i in range(len(A)):
    if A[i] == B:
      c[0] = i
      break
  for i in range(len(A)-1,0,-1):
    if A[i] == B:
      c[1] = i
      break
  return c
first_last(A = [-2, -2, 4, 4, 8, 9],B = 4)

[2, 3]

In [ ]:
# Q2. Min - Max Difference

def max_min(A):
  max_value = A[0]
  min_value = A[0]
  for i in A:
    if i > max_value:
      max_value = i
    if i < min_value:
      min_value = i
  diff = max_value - min_value
  return diff
max_min(A = [4, 1, 9, 10, 3])

9

In [ ]:
#Q3. Inverse of the Array

def solve(A):
  ans = [None]*len(A)
  print(ans)
  for i,j in enumerate(A): #This is a loop that iterates through the elements of the input list A. i represents the index, and j represents the value at that index.
    ans[j] = i
  return ans
solve(A = [2, 0, 1])

[None, None, None]

[1, 2, 0]

In [ ]:

a = [1, 3, 4, 4, 3, 1, 2, 3, 2]
a[:6:2]

[1, 4, 3]