<a href="https://colab.research.google.com/github/RajuNaik29/Advance-Python/blob/main/Lists_1D.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Lists-1D:
1. Lists are used to store multiple items in a single variable.

2. Lists are one of 4 built-in data types in Python used to store collections of data, the other 3 are Tuple, Set, and Dictionary, all with different qualities and usage.

3. Lists are created using square brackets

https://www.w3schools.com/python/python_lists.asp


**Python Collections (Arrays)**
There are four collection data types in the Python programming language:

**List** is a collection which is ordered and changeable. Allows duplicate members.

**Tuple** is a collection which is ordered and unchangeable. Allows duplicate members.

**Set** is a collection which is unordered, unchangeable*, and unindexed. No duplicate members.

**Dictionary** is a collection which is ordered** and changeable. No duplicate members.

In [ ]:
### PTYHON LISTS üêç
# 1 Why Python lists?
# 2 How to create python lists?
# 3 what Python lists::: functionality and concepts revolving python lists

In [ ]:
# data types>> Primitive DS>> 1 data point at a time
# str, int, float, bool, None

In [ ]:
# Non Primitive DS >> stores more than 1 data point at a time
# >> Python lists

In [ ]:
# planet earth üåçüåéüåèüåê
name = "Earth"
rank = 3
diameter = 12742.6
haveWeFoundAlliens = False

print(name, type(name))
print(rank, type(rank))
print(diameter, type(diameter))
print(haveWeFoundAlliens, type(haveWeFoundAlliens))

Earth <class 'str'>
3 <class 'int'>
12742.6 <class 'float'>
False <class 'bool'>

In [ ]:
# total planets >> 9
# for a single planet >> 4 vars, 4 simple pieces of info, 4 different lines
# 9*4 = 36

In [ ]:
# SBI
## name, age, bal, criminalRecord
# 1 cust>>4 var
# 10mil >> 40mil var

In [ ]:
# python üêç lists
# ‚úÖ[]
# ‚ùå{}, ()
emptyList = []
print(emptyList)
print(type(emptyList))

[]
<class 'list'>

In [ ]:
player = ['Ronaldo', 38, 185.5, True, None]
print(player)
print(type(player))

['Ronaldo', 38, 185.5, True, None]
<class 'list'>

In [ ]:
grocceryList = [3, 'tables', 3, 'chairs', 1.5, 'apples', ['Ronaldo', 38, 185.5, True, None]]
print(grocceryList)
print(type(grocceryList))

[3, 'tables', 3, 'chairs', 1.5, 'apples', ['Ronaldo', 38, 185.5, True, None]]
<class 'list'>

In [ ]:
# python lists can store absolutely any data type, even another list
# python lists can store duplicate values
# python lists maintain order

# can python list store tuple,  set and dictionary?
Yes, in Python, a list can store elements of various types, including tuples, sets, and dictionaries. Lists in Python are versatile and can hold elements of different data types.

In [1]:
#Example
# Creating a list with different types of elements
my_list = [1, (2, 3), {'key': 'value'}, {4, 5, 6}]

# Accessing elements in the list
print(my_list[0])   # Output: 1
print(my_list[1])   # Output: (2, 3) - Tuple
print(my_list[2])   # Output: {'key': 'value'} - Dictionary
print(my_list[3])   # Output: {4, 5, 6} - Set

1
(2, 3)
{'key': 'value'}
{4, 5, 6}

In [ ]:
# ordering
# 0-indexing

###########     0         1       2       3       4
avengers = ['iron-man', 'thor', 'cap', 'hulk', 'groot']

print(avengers)
print(avengers[1])
print(avengers[2])
print(avengers[3])
print(avengers[4])

# print(avengers[5]) # ‚ùå‚ùå‚ùå IndexError: list index out of range

print("Number of elements in python list are", len(avengers))

['iron-man', 'thor', 'cap', 'hulk', 'groot']
thor
cap
hulk
groot
Number of elements in python list are 5

In [ ]:
###########     0         1       2       3       4
avengers = ['iron-man', 'thor', 'cap', 'hulk', 'groot']

print(avengers)
print("Number of elements in python list are:", len(avengers))

print("The first element in my python list is:", avengers[0])
print("The last element in my python list is:", avengers[len(avengers)-1])

['iron-man', 'thor', 'cap', 'hulk', 'groot']
Number of elements in python list are: 5
The first element in my python list is: iron-man
The last element in my python list is: groot

In [ ]:
# ordering
# 0-indexing
# -ive indexing

###########     0         1       2       3       4
avengers = ['iron-man', 'thor', 'cap', 'hulk', 'groot']
###########    -5        -4      -3      -2      -1

print(avengers)
print(avengers[0], avengers[-5])
print(avengers[1], avengers[-4])
print(avengers[2], avengers[-3])
print(avengers[3], avengers[-2])
print(avengers[4], avengers[-1])

# print(avengers[5]) # ‚ùå‚ùå‚ùå IndexError: list index out of range
# print(avengers[-6]) # ‚ùå‚ùå‚ùå IndexError: list index out of range

['iron-man', 'thor', 'cap', 'hulk', 'groot']
iron-man iron-man
thor thor
cap cap
hulk hulk
groot groot

In [ ]:
# why negative indexing doesn't start with 0

###########     0         1       2       3       4
avengers = ['iron-man', 'thor', 'cap', 'hulk', 'groot']
###########                                       0
print(avengers)

print(avengers[0])
print(-0==0) #As -0 is same as 0, It's meaningless. Hence the negative indexing start with -1.

['iron-man', 'thor', 'cap', 'hulk', 'groot']
iron-man
True

In [ ]:
###########     0         1       2       3       4
avengers = ['iron-man', 'thor', 'cap', 'hulk', 'groot']
###########    -5        -4      -3      -2      -1
print(avengers)

bestAvenger = avengers[1]
print(bestAvenger)
print(type(bestAvenger))
print(len(bestAvenger))

['iron-man', 'thor', 'cap', 'hulk', 'groot']
thor
<class 'str'>
4

In [ ]:
# Question - 1
# Given the list runs = [45, 67, 89, 12, 34, 56, 100]
# print the total of the runs on odd matches in the list.
#        1   2   3  4    5   6   7
runs = [45, 67, 89, 12, 34, 56, 100]
#        0   1   2   3   4   5   6
print(runs[0]+runs[2]+runs[4]+runs[6])

268

In [ ]:
runs = [45, 67, 89, 12, 34, 56, 100]
for i in range(0,len(runs),2):
  print(i)

0
2
4
6

In [ ]:
#Read
###########     0         1       2       3       4
avengers = ['iron-man', 'thor', 'cap', 'hulk', 'groot']
###########    -5        -4      -3      -2      -1
print(avengers)



print(avengers[1])
print(avengers[-2 ])

['iron-man', 'thor', 'cap', 'hulk', 'groot']
thor
hulk

**Append**: append will add 1 element at the last.

**Insert** : insert will add a single element before a given index.

**Extend** : takes a list and extends it by another list.

**Update**: In Python, you can update a list by modifying its elements, adding new elements, or removing existing elements.

In [3]:
#Add or append
###########     0         1       2       3       4
avengers = ['iron-man', 'thor', 'cap', 'hulk', 'groot']
###########    -5        -4      -3      -2      -1
print(avengers)

# append will add 1 element at the last

avengers.append('Raju')
print(avengers)

avengers.append('Evan')
print(avengers)

New_list = ['Bittu', 'Ammu', 'Rishi', 'Evan']
avengers.append(New_list)
print(avengers)

['iron-man', 'thor', 'cap', 'hulk', 'groot']
['iron-man', 'thor', 'cap', 'hulk', 'groot', 'Raju']
['iron-man', 'thor', 'cap', 'hulk', 'groot', 'Raju', 'Evan']
['iron-man', 'thor', 'cap', 'hulk', 'groot', 'Raju', 'Evan', ['Bittu', 'Ammu', 'Rishi', 'Evan']]

In [ ]:
#Insert
###########     0         1       2       3       4
avengers = ['iron-man', 'thor', 'cap', 'hulk', 'groot']
###########    -5        -4      -3      -2      -1
print(avengers)

# insert >> insert will add a single element before a given index

avengers.insert(2, 'Raju')
print(avengers)

avengers.insert(0, 'Evan')
print(avengers)

['iron-man', 'thor', 'cap', 'hulk', 'groot']
['iron-man', 'thor', 'Raju', 'cap', 'hulk', 'groot']
['Evan', 'iron-man', 'thor', 'Raju', 'cap', 'hulk', 'groot']

In [ ]:
#Extend
###########     0         1       2       3       4
avengers = ['iron-man', 'thor', 'cap', 'hulk', 'groot']
###########    -5        -4      -3      -2      -1
print(avengers)

# Extend : takes a list and extends it by another list

RR = ['Bittu',"Rishith",'Evan']
avengers.extend(RR)
print(avengers)

['iron-man', 'thor', 'cap', 'hulk', 'groot']
['iron-man', 'thor', 'cap', 'hulk', 'groot', 'Bittu', 'Rishith', 'Evan']

In [ ]:
#update:
###########     0         1       2       3       4
avengers = ['iron-man', 'thor', 'cap', 'hulk', 'groot']
###########    -5        -4      -3      -2      -1
print(avengers)

print(avengers[1])
avengers[1] = 'God of thunder'
print(avengers)

['iron-man', 'thor', 'cap', 'hulk', 'groot']
thor
['iron-man', 'God of thunder', 'cap', 'hulk', 'groot']

In [ ]:
avengers[3] = 'Raju'
print(avengers)

#This is how we update the elements in list.

['iron-man', 'God of thunder', 'cap', 'Raju', 'groot']

# Remove and Delete Functions in Python lists

In Python lists, there are two primary ways to remove elements: using the `remove()` method and using the `del` statement. While they both remove elements from a list, they work in slightly different ways and have different use cases.

1. **Using the `remove()` Method**:
   - The `remove()` method is used to remove the first occurrence of a specified value from the list.
   - Syntax: `list.remove(value)`
   - Example:
     ```python
     my_list = [1, 2, 3, 4, 5]
     my_list.remove(3)
     print(my_list)  # Output: [1, 2, 4, 5]
     ```
   - If the specified value is not found in the list, a `ValueError` is raised.

2. **Using the `del` Statement**:
   - The `del` statement is used to remove elements from a list based on their index or a slice.
   - Syntax: `del list[index]` or `del list[start:end]`
   - Example:
     ```python
     my_list = [1, 2, 3, 4, 5]
     del my_list[2]
     print(my_list)  # Output: [1, 2, 4, 5]
     ```
   - You can also use slicing with `del` to remove a range of elements from the list:
     ```python
     del my_list[1:3]  # Remove elements from index 1 to index 2 (excluding index 3)
     print(my_list)    # Output: [1, 5]
     ```

3. **`pop()` Method**:
   - The `pop()` method removes and returns the element at the specified index. If no index is provided, it removes and returns the last element of the list.
   - Syntax: `list.pop(index)`
   - Example:
     ```python
     my_list = [1, 2, 3, 4, 5]
     popped_element = my_list.pop(2)  # Removes and returns the element at index 2 ('3')
     print(popped_element)            # Output: 3
     print(my_list)                   # Output: [1, 2, 4, 5]

     popped_element = my_list.pop()   # Removes and returns the last element ('5')
     print(popped_element)            # Output: 5
     print(my_list)                   # Output: [1, 2, 4]
     ```
   - If you try to `pop()` from an empty list or from an index that does not exist, it raises an `IndexError`.

In summary, `remove()` is used to remove a specific element by value, `del` is used to remove elements by index or slice, and `pop()` is used to remove elements by index and return the removed element. The choice of method depends on the specific requirement and use case in your code.


4. **Key Differences**:
   - `remove()` removes an element by its value, while `del` removes an element by its index.
   - If you know the index of the element you want to remove, `del` is typically more efficient because it directly removes the element at that index, whereas `remove()` requires searching the entire list for the specified value.
   - `remove()` is preferred when you want to remove an element based on its value and you don't know its index.

5. **Error Handling**:
   - If you attempt to delete an index that is out of range using `del`, it will raise an `IndexError`.
   - If you attempt to remove a value using `remove()` that does not exist in the list, it will raise a `ValueError`.

In summary, `remove()` is used to remove a specific element by value, `del` is used to remove elements by index or slice, and `pop()` is used to remove elements by index and return the removed element. The choice of method depends on the specific requirement and use case in your code.

In [ ]:
#delete/remove:

avengers = ['iron-man', 'thor', 'thanos', 'cap', 'hulk', 'thanos', 'groot']
avengers.remove('iron-man')
print(avengers)

avengers.remove('cap')
print(avengers)

avengers.remove('thanos')
print(avengers)

###. Note : Remove function will remove the first occurence of the element.

['thor', 'thanos', 'cap', 'hulk', 'thanos', 'groot']
['thor', 'thanos', 'hulk', 'thanos', 'groot']
['thor', 'hulk', 'thanos', 'groot']

In [ ]:
###########     0         1       2       3       4
avengers = ['iron-man', 'thor', 'cap', 'hulk', 'groot']
###########    -5        -4      -3      -2      -1
print(avengers)

del avengers[1] #While using delete we use indexing method.
print(avengers)

del avengers[3]
print(avengers)

['iron-man', 'thor', 'cap', 'hulk', 'groot']
['iron-man', 'cap', 'hulk', 'groot']
['iron-man', 'cap', 'hulk']

In [ ]:
#pop: The pop() method in Python is used to remove and return the element at a specific index (by default, the last element) from a list. It modifies the original list in place. The general syntax for the pop() method is:
###########     0         1       2       3       4
avengers = ['iron-man', 'thor', 'cap', 'hulk', 'groot']
###########    -5        -4      -3      -2      -1
print(avengers)

avengers.pop()
print(avengers)


avengers.pop(0)
print(avengers)

avengers.pop(1)
print(avengers)

['iron-man', 'thor', 'cap', 'hulk', 'groot']
['iron-man', 'thor', 'cap', 'hulk']
['thor', 'cap', 'hulk']
['thor', 'hulk']

In [4]:
###########     0         1       2       3       4
avengers = ['iron-man', 'thor', 'cap', 'hulk', 'groot']
###########    -5        -4      -3      -2      -1
print(avengers)

avengers.pop(2 )
print(avengers)

removedElement = avengers.pop(0)
print(removedElement)
print(avengers)

['iron-man', 'thor', 'cap', 'hulk', 'groot']
['iron-man', 'thor', 'hulk', 'groot']
iron-man
['thor', 'hulk', 'groot']

In [ ]:
my_list = [1, 2, 3, 4, 5]
my_list.append(6)
print(my_list)

[1, 2, 3, 4, 5, 6]

In [ ]:
# Iterating lists

avengers = ['iron-man', 'thor', 'cap', 'hulk', 'groot']
print(avengers)

# here element is a var, can call it whatever you want
for elements in avengers:
  print(elements)

['iron-man', 'thor', 'cap', 'hulk', 'groot']
iron-man
thor
cap
hulk
groot

In [ ]:
###########     0         1       2       3       4
avengers = ['iron-man', 'thor', 'cap', 'hulk', 'groot']
###########    -5        -4      -3      -2      -1
print(avengers)

for i in range(0, len(avengers)): #0,1,2...len(avengers)-1
    print(i, avengers[i])

['iron-man', 'thor', 'cap', 'hulk', 'groot']
0 iron-man
1 thor
2 cap
3 hulk
4 groot

In [6]:
#reversing of list without using inbuilt functions
my_list = [1, 2, 3, 4, 5]
i = -1
while i >= -5:
    print(my_list[i], end = " ")
    i -= 1

5 4 3 2 1

In [5]:
#reversing of list without using inbuilt functions

my_list = [1, 2, 3, 4, 5]

i = -1
n = -(len(my_list))
while i >= n:
  print(my_list[i], end = ' ')
  i -= 1

5 4 3 2 1

In [ ]:
runs = [67, 54, 12, 34, 77, 89, 101]
# Calculate the sum, average, max and min.

In [ ]:
runs = [67, 54, 12, 34, 77, 89, 101]

total = 0
count = 0
for element in runs:
  total = total + element
  count += 1
print('sum = ',total)
print('count = ', count)
print('avg = ', int(total/count))

sum =  434
count =  7
avg =  62

In [ ]:
def calculate_sum(input_list):
    total = 0
    for element in input_list:
        total = total + element
    return total
calculate_sum(input_list = [1, 2, 3, 4, 5])

15

In [ ]:
#Finding minimum value from the list:
runs = [67, 54, 12, 34, 77, 89, 101]

min_value = runs[0]

for i in runs:
  if i < min_value:
    min_value = i
print('min_value = ',min_value)

min_value =  12

In [ ]:
#Finding maximum value from the list:

runs = [67, 54, 12, 34, 77, 89, 101]

max_value = runs[0]
for i in runs:
  if i>max_value:
    max_value = i
print('Max_value = ',max_value)

Max_value =  101

In [ ]:
runs = [67, 54, 12, 34, 77, 89, 101]
# Calculate the sum of runs made by Virat on all matches with even index.
# use loops

total =0
for i in range(0,len(runs),2):
  total += runs[i]
print('sum_even_index_runs:', total)

sum_even_index_runs: 257

In [ ]:
# f strings :F-strings, or formatted string literals, are a way to embed expressions inside string literals in Python. They were introduced in Python 3.6 and provide a concise and readable way to create strings with embedded expressions.
my_str = "I live on Earth and that is 3 rank planet"
print(my_str)

I live on Earth and that is 3 rank planet

In [ ]:
planetName = "Earth"
planetRank = 3
# f strings
# 1 replace the data with var names in {}
# 2 add f in front
my_str = f"I live on {planetName} and that is {planetRank} rank planet"
print(my_str)

I live on Earth and that is 3 rank planet

In [ ]:
planetName = "Mars"
planetRank = 4
# f strings
# 1 replace the data with var names in {}
# 2 add f in front
my_str = f"I live on {planetName} and that is {planetRank} rank planet"
print(my_str)

I live on Mars and that is 4 rank planet

In [ ]:
my_list = ["apple", "banana", "orange"]
for i in range(len(my_list)):
    print(f"{my_list[i]} is a fruit.", end = " ")

apple is a fruit. banana is a fruit. orange is a fruit.

In [ ]:
my_list = [10, 20, 30, 40, 50]
i = 0
while i < len(my_list):
    my_list[i] *= 2
    i += 1
print(my_list)

[20, 40, 60, 80, 100]

In [ ]:
my_list = [10, 20, 30, 40, 50]
i = 0
while i < len(my_list):
    my_list[i] *= 2
    i+=1

In [ ]:
def even_odd(A):
  even_sum = 0
  odd_sum = 0
  for i in A:
    if i%2 == 0:
      even_sum += i
    else:
      odd_sum += i
  return (even_sum - odd_sum)
even_odd(A = [56, 63, 87, 24, 32, 13, 15, 19, 44, 52])

11

In [ ]:
even_odd(A = [2,8,4,6])

20

In [ ]:
def duplicate(ls,n):
    if n==1:
        ans=False
    for i in range(n-1):
        if ls[i]==ls[i+1]:
            ans=True
            break
        else:
            ans=False
    return ans
duplicate(ls = [1,2,3,3],n = 4)

True

In [ ]:
def first_multiple(ls,x):
  ans = -1
  for i in ls:
    if i%x == 0:
      ans = i
      break
  return ans

In [ ]:
first_multiple(ls = [2, 1, 2, 4, 3, 5], x = 4)

4

In [ ]:
first_multiple(ls = [7, 5, 3, 17], x = 4)

-1

# Additional problems

#Q1. Insert that
Problem Description

Write a program to input N numbers array, a number X and a number Y from user and insert an element Y in it at specified position X. X is based on 1-based indexing (indexing starts from 1 not from 0).

Note: When an element is inserted at position X, all elements that were already present at position >= X, gets shifted to one position right, not replaced.

Problem Constraints

1 <= N <= 100

1 <= A[i] <= 1000

1 <= X <= N

1 <= Y <= 1000

Input Format

First line is N which represents number of elements.

Second line contains N space separated integers.

Third line is X position where Y has to be inserted.

Fourth line is Y which is the value to be inserted.

Output Format

N+1 space separated integers of the input array after inserting the element at required position.

Example Input

Input 1:

5

2 3 1 4 2

3

5

Example Output

Output 1:

2 3 5 1 4 2

Example Explanation

Explanation 1:

Clearly after inserting 5 at 3rd position, new array is 2 3 5 1 4 2.

In [ ]:
def main():
  N = int(input()) #No of elements in array.
  array_list = list(map(int, input().split())) #array
  X = int(input()) #position
  Y = int(input()) #Value to be stored
  array_list.insert(X-1,Y)
  return array_list

In [ ]:
main()

7
1 2 3 4 5 6 7
3
4

[1, 2, 4, 3, 4, 5, 6, 7]

# Q2. Product of elements
Problem Description:

Write a program that returns the product of all elements present in the array.

Constraints:

1 <= |A| <= 100
1 <= A <= 100
Note: It is guaranteed that the resultant product will be <= 1015
Input Format:

An integer array **A** as the function argument.
Output Format:

Product of elements in integer format
Sample Input:

A = [7, 9, 2, 51]

Sample Output:

6426
Sample explanation:

The product of all the elements is 7 * 9 * 2 * 51 = 6426 is returned.

In [ ]:
def multiply_elements(lst):
  product = 1
  for ele in lst:
    product *= ele
  return product
multiply_elements(lst = [7, 9, 2, 51])

6426

# Q3. Right Shift an Array
Problem Description

Write a program that reads an integer array A from input and modifies the array by shifting each element to the right by one position and by shifting the last element to the first position. Return the modified array.

Problem Constraints

1 <= N <= 105 1 <= A[i] <= 109
Input Format

The first line of the input is the size of the array N. The second line of the input is N integers of the array separated by space.
Output Format

Print a single line that is the elements of the modified array separated by space.

Example Input

5

1 2 3 4 5

Example Output

5 1 2 3 4

In [ ]:
def right_shift():
  N = int(input())
  array = list(map(int, input().split()))
  last_element = array[-1]
  for i in range(N-1,0,-1):
    array[i] = array[i-1]
  array[0] = last_element
  for num in array:
    print(num, end = ' ')
right_shift()

5
1 2 3 4 5
5 1 2 3 4

# Q4. Print in Reverse
Problem Description

Write a program to print the input array A of size N in reverse order where you have to take integer N and further N elements as input from user.


Problem Constraints

1 <= N <= 1000

1 <= A <= 1000
Input Format

A single line representing N followed by N integers of the array A

Output Format

A single line containing N space separated integers representing elements of the input array in reverse order.

Example Input

Input 1:

5

1 2 3 4 5

Input 2:

4

10 50 40 80

Example Output

Output 1:

5 4 3 2 1

Output 2:

80 40 50 10

In [ ]:
def main():
    inputs = input().split()
    N = int(inputs[0])
    inp = list(map(int, inputs[1:]))
    for i in range(N-1, -1, -1):
      print(inp[i], end=' ')

    return 0
main()

5

IndexError: ignored

# Q5. Negative Integers
Problem Description

Write a program to print all negative numbers from input array A of size N. Take integer N and N elements of the array as input from user.


Problem Constraints

1 <= N <= 1000

-1000 <= A <= 1000


Input Format

A single line representing N followed by N integers of the array A



Output Format

A single line containing elements from the input array which are negative in the same order.


Example Input

Input 1:

5 1 -5 2 -8 -4

Input 2:

4 -1 0 -8 -1

Example Output

Output 1:

-5 -8 -4
Output 2:

-1 -8 -1

Example explanation:

Output 1:

all the negative elements of [5 1 -5 2 -8 -4] are [-5 -8 -4]



Output 2:

all the negative elements of [4 -1 0 -8 -1] are [-1 -8 -1]

In [ ]:
def negative():
  N = int(input())
  array = list(map(int, input().split()))
  result = []
  for i in array:
    if i < 0:
      result.append(i)
  #for element in result:
   # print(result, end = ' ')
  return result
negative()

5
1 -5 2 -8 -4

[-5, -8, -4]

In [ ]:
def function_1():
    print("third")
    function_2()

def function_2():
    print("second")
    function_3()

def function_3():
    print("first")

function_1()

third
second
first

In [ ]:
isTrue = 0
if bool(isTrue):
    print("Inside the if-statement")
else:
    print("Inside the else-statement")

Inside the else-statement

In [ ]:
x = int(input())
y = int(input())
flag = True
for i in range(2, x + 1):
    if(x % i == 0):
        if(y % i == 0):
            flag = False
print(flag)

11
13
True

In [ ]:
x = int(input())
y = int(input())
flag = True
for i in range(2, x + 1):
    if(x % i == 0):
        if(y % i == 0):
            flag = False
print(flag)

5
35
False

In [ ]:
people = [('Alice', 25), ('Bob', 32), ('Charlie', 20), ('David', 35)]

oldest_name = None
oldest_age = -1

for name, age in people:
    if age > oldest_age:
        oldest_name = age
        oldest_age = name

print("The oldest person is", oldest_name)

TypeError: ignored

In [ ]:
people = [('Alice', 25), ('Bob', 32), ('Charlie', 20), ('David', 35)]

oldest_name = ""
oldest_age = 0

for name, age in people:
    if age > oldest_age:
        oldest_name = name
        oldest_age = age

print("The oldest person is", oldest_name)

The oldest person is David

In [ ]:
def main(N):
    # YOUR CODE GOES HERE
    # Please take input and print output to standard input/output (stdin/stdout)
    # E.g. 'input()/raw_input()' for input & 'print' for output
    N = int(input())
    if N >= 195:
        return "abnormal"
    elif N>=165 and N<195:
        return "taller"
    elif N>=150 and N<165:
        return "average"
    else:
        return "dwarf"
    return 0
main(N= 165)

367

'abnormal'

In [ ]:
a = ['hello', 'world', 'python', 'programming']
a[0][1]

'e'

In [ ]:
def unique_chars(list_of_words):
  # YOUR CODE GOES HERE
  for i in range(len(list_of_words)):
    for j in range(len(list_of_words[i])):
      if list_of_words[i][j] != list_of_words[i][j]+1:
        print(list_of_words[i][j])
unique_chars(list_of_words = ['hello', 'world', 'python', 'programming'])

TypeError: ignored

In [ ]:
def maxOnes(arr):
    #write code
    max_ones = 0
    max_ones_index = 0
    for i,j in enumerate(arr):
        count_ones = j.count(1)
        if count_ones > max_ones:
            max_ones = count_ones
            max_ones_index = i
    return max_ones_index
maxOnes(arr = [[0,1,1,1], [0,0,1,1], [0,0,1,1]])

0

In [ ]:
def main():
    N = int(input())
    if N>=195:
        print("abnormal")
    elif N>=165 and N<195:
        print("taller")
    elif N>=150 and N<165:
        print("average")
    else:
        print("dwarf")
    return 0
main()

112
dwarf

0