<a href="https://colab.research.google.com/github/RajuNaik29/Advance-Python/blob/main/Strings_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Beginner : Strings 1 - 25th Oct 2023
![image.png](https://camo.githubusercontent.com/7130d676c4bf3f645ac252cbed608af59ff2a20ac7002f0609683105818d9b31/68747470733a2f2f636f646568732e636f6d2f75706c6f6164732f6637623962346533666365373631306637633838613738386536643461613239)

In [ ]:
## Data Types >> primitive DS
# str
# int
# float
# bool
# None

# Properties>> single value at a time>> they are NON-editable/immutable

In [ ]:
my_str = 'This is a string'
print(my_str)

This is a string

In [ ]:
my_str = '''This
is
a
string'''
print(my_str)

This
is
a
string

In [ ]:
my_str = '''This is a string'''

In [ ]:
my_str = "This is
a string"
print(my_str)

SyntaxError: ignored

In [ ]:
my_str = "This is \na string"
print(my_str)

This is
a string

In [ ]:
my_str = "This is a string
print(my_str)"

SyntaxError: ignored

In [ ]:
my_str = '''12345677890-0=)(*&^%$%#!@!jhgsfadkqas,kfudgaP}{>?":<>}ðŸ™‚)'''
print(my_str)

12345677890-0=)(*&^%$%#!@!jhgsfadkqas,kfudgaP}{>?":<>}ðŸ™‚)

In [ ]:
# American Standard Code for Information Interchange
# ASCII

In [ ]:
ord('a')

97

In [ ]:
chr(97)

'a'

In [ ]:
ord('A')

65

In [ ]:
chr(65)

'A'

In [ ]:
ord('$')

36

In [ ]:
chr(36)

'$'

In [ ]:
ord('+')

43

In [ ]:
chr(43)

'+'

In [ ]:
ord('~')

126

In [ ]:
chr(126)

'~'

In [ ]:
print(ord('a'), ord('z'))
print(ord('A'), ord('Z'))
print(ord('0'), ord('9'))

97 122
65 90
48 57

In [ ]:
for ordinal in range(ord('0'),ord('9')+1):
  print(chr(ordinal),ordinal)

0 48
1 49
2 50
3 51
4 52
5 53
6 54
7 55
8 56
9 57

In [ ]:
for ordinal in range(ord('A'),ord('Z')+1):
  print(chr(ordinal),ordinal)

A 65
B 66
C 67
D 68
E 69
F 70
G 71
H 72
I 73
J 74
K 75
L 76
M 77
N 78
O 79
P 80
Q 81
R 82
S 83
T 84
U 85
V 86
W 87
X 88
Y 89
Z 90

In [ ]:
for ordinal in range(ord('a'),ord('z')+1):
  print(chr(ordinal),ordinal)

a 97
b 98
c 99
d 100
e 101
f 102
g 103
h 104
i 105
j 106
k 107
l 108
m 109
n 110
o 111
p 112
q 113
r 114
s 115
t 116
u 117
v 118
w 119
x 120
y 121
z 122

In [ ]:
ord('a'),ord('A')

(97, 65)

In [ ]:
ord('a')>ord('A')

True

In [ ]:
"a">"A"

True

In [ ]:
# simple str manipulations

In [ ]:
print("addition+")
print("Cristiano "+"Ronaldo")

addition+
Cristiano Ronaldo

In [ ]:
my_str = "I live on earth, and we are 3 planet"
print(my_str)
print(type(my_str))

I live on earth, and we are 3 planet
<class 'str'>

In [ ]:
# f str


##### How f str
# 1: replace all the data with the var names in {}
# 2: add f in front

planet = "earth"
rank = 3

my_str = f"I live on {planet}, and we are {rank} planet"
print(my_str)

I live on earth, and we are 3 planet

In [ ]:
planet = "Mars"
rank = 4

my_str = f"I live on {planet}, and we are {rank} planet"
print(my_str)

I live on Mars, and we are 4 planet

In [ ]:
planet = "Venus"
rank = 2

my_str = f"I live on {planet}, and we are {rank} planet"
print(my_str)

I live on Venus, and we are 2 planet

In [ ]:
from ast import MatchStar
# Question-1
# Take a string input from user and print that string character by character,
# with each character in new line.

# Input:
# "INDIA"

# Output:
# I
# N
# D
# I
# A


mystr = 'INDIA'
for i in mystr:
  print(i)

I
N
D
I
A

In [ ]:
# Question-2
# Take a string input from user.
# Print the following.
# Print format:

# "First Character - , Last Character - "

# Input:
# "INDIA"

# Output:
# "First Character - I, Last Character - A"

mystr = 'INDIA'
f"First Character - {mystr[0]}, Last Character - {mystr[-1]}"
#print(f"First Character - {mystr[0]}, Last Character - {mystr[-1]}")

'First Character - I, Last Character - A'

In [ ]:
my_str = "INDIA"
print(my_str)
print(my_str[1])
my_str[1] ='n' # >> they are NON-editable/immutable

INDIA
N

TypeError: ignored

In [ ]:
# Question-3
# Take a string input from user.
# Reverse that string.

mystr = input()
print(mystr[::-1])

Raju
ujaR

In [ ]:
# Question-4
# Take a string input from user.
# Return "PALINDROME" if the string is a palindrome, otherwise return "NOT A PALINDROME".

mystr = input()
print(mystr[::-1])
if mystr == mystr[::-1]:
  print('Palindrome')
else:
  print('Not palindrome')

AbbA
AbbA
Palindrome

In [ ]:
mystr = input()
print(mystr[::-1])
if mystr == mystr[::-1]:
  print('Palindrome')
else:
  print('Not palindrome')

Raju
ujaR
Not palindrome

In [ ]:
# Question-5
# Take a string input from user.
# Print the number of upper case characters in that string.

mystr = input()
count = 0
for i in mystr:
  if ord(i)>=65 and ord(i)<=90:
    print(i)
    count+=1
print(count)

RAJu
R
A
J
3

In [ ]:
mystr = input()
count = 0
for i in mystr:
  if ord(i)>=65 and ord(i)<=90:
    print(i, end = ' ')
    count+=1
print()
print('Count = ',count)

"This is a RANDOM strinG 67890, ^$#@
T R A N D O M G
Count =  8

In [ ]:
#2
count = 0
for character in my_str:
    if character.isupper():
        count+=1
print(count)

5

In [ ]:
# split and join


my_str = "1,2,3,4,5,6"
print(my_str.split(','))

['1', '2', '3', '4', '5', '6']

In [ ]:
my_list_of_strs = ['1', '2', '3', '4', '5', '6']
print(' '.join(my_list_of_strs))
print('__'.join(my_list_of_strs))
join_using = ":"
print(join_using.join(my_list_of_strs))

1 2 3 4 5 6
1__2__3__4__5__6
1:2:3:4:5:6

In [ ]:
my_list_of_strs = ['1', '2', '3', '4', '5', '6']
print("*".join(my_list_of_strs))

1*2*3*4*5*6

In [ ]:
my_list_of_strs = ['1', '2', '3', '4', '5', '6']
print("^".join(my_list_of_strs))

1^2^3^4^5^6

In [ ]:
# Question-6
# You are given a list of numbers between 1 and 256.
# Generate a string from the char values of these numbers.

# Input:
# [65, 97, 68]

# Output:
# Aad

# Explanation
# chr(65) - A
# chr(97) - a
# chr(68) - D

input = [65, 97, 68, 89, 78, 99, 77, 73]
for i in input:
  print(chr(i))

A
a
D
Y
N
c
M
I

In [ ]:
#1
def generate_str(lst):
    s = "" #Empty String
    for i in lst:
        s+=chr(i)
    return s
generate_str(lst=[65, 97, 68])

'AaD'

In [3]:
#2
def generate_str(lst):
    s = []
    for i in lst:
        s.append(chr(i))
    return "".join(s)
generate_str(lst=[65, 97, 68])

'AaD'

In [ ]:
# Question-7
# Get input from the user of a string of comma separated int.
# Convert it into a list  of individual int.

# "56,78,99,101"
# [56, 78, 99, 101]

user_input = "56,78,99,101"
print(user_input)
user_input_split = user_input.split(',')
print(user_input_split)

lst = []
for i in user_input_split:
  lst.append(int(i))
print(lst)

56,78,99,101
['56', '78', '99', '101']
[56, 78, 99, 101]

In [ ]:
new_str = "hello"
new_str = new_str.join("hi")
new_str

'hhelloi'

In [ ]:
"hi".join("hello")

'hhiehilhilhio'

## Assignament Problems

In [ ]:
# Q1. Reverse the word - II
def reverse(A):
  return A[::-1]

reverse(A = "interviewbit")

'tibweivretni'

In [ ]:
# Q2. Vowels vs Consonants - II

#You are given lowercase string (A) and you have to tell the count of vowels and consonants in it.

def alpha(A):
  c = [0,0]
  vowels = ['a','e','i','o','u',]
  for i in A:
    if i in vowels:
      c[0] += 1
    else:
      c[1] += 1
  return c

alpha(A = "interviewbit")

[5, 7]

In [ ]:
# Q1. String operations

def operations(A):
  A+=A
  b=""
  n=len(A)
  for i in A:
    if(i>='a' and i<='z'):
      if(i=='a' or i=='e' or i=='o' or i=='i' or i=='u'):
        b+='#'
      else:
        b+=i
  return b

operations(A = "aeiOUz")

'###z###z'

In [ ]:
#Q5. Anagram or not

'''Write a program to check whether two given strings are anagrams or not. Return True if the strings are anagrams else return False.

Note: An anagram of a string is another string that contains the same characters, only the order of characters can be different.'''

def check_anagram(A,B):
  result = True
  if len(A) == len(B):
    A = sorted(A)
    B = sorted(B)
    N = len(A)
    for i in range(N):
      if A[i] != B[i]:
        result = False
        break
  else:
    result = False
  return result

check_anagram(A = "silent",B = 'listen')

True

In [ ]:
check_anagram(A = 'Hello', B = 'Hi')

False